body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, 
.heading {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: auto;
    gap: 32px;
    
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    width: 88px;
    height: 30px;
    border: none;
    cursor: pointer;
}

p {
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    max-width: 1000px;
}

.logo,
.information,
.author,
.actionCall {
    font-weight: 900;
}

.bg-blue {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,
.footer {
    height: 72px;
    justify-content: center;
}

.introLeft {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.introText,
.callToActionSignUp {
    font-size: 14px;
}

.introduction {
    margin: 100px 0;
    flex-wrap: wrap;
}

.placeholder {
    background-color: gray;
    width: 500px;
    height: 168px;
    margin: 0 0 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header,
.footer,
.introduction {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 1000px;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.information {
    font-size: 30px;
    max-height: 100px;
}

.infobox {
    width: 150px;
    margin: 0 32px;
    text-align: center;
}

.image {
    border: 3px solid #3882f6;
    border-radius: 12px;
    height: 150px;
    margin: 8px 0;
}

.quote {
    background-color: #e5e7eb;
    flex-direction: column;
}


.author {
    display: flex;
    width: 800px;
    justify-content: flex-end;

}

.action {
    box-sizing: border-box;
    width: 1000px;
    background-color: #3882f6;
    color: white;
    align-self: center;
    border-radius: 12px;
    padding: 0px 100px;
}

.action button {
    border: 1px solid white;
    margin-left: auto;
}

